Source: yuki
Section: web
Priority: optional
Maintainer:  Yuki Kurosawa HotKey <yuki@ksyuki.com>
Build-Depends: debhelper-compat (= 13), pkgconf, help2man , libssl-dev (>=3.0.0), libpcre2-dev (>=10.0), libmagic-dev (>=1:5.0)
Standards-Version: 4.7.2
Homepage: https://github.com/Yuki-Kurosawa/TinyWebServer.git
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/YukiKurosawa/TinyWebServer.git
Vcs-Browser: https://salsa.debian.org/YukiKurosawa/TinyWebServer

Package: yuki
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tiny Web Server implementation in pure C codes.
 This is a tiny web server with SSL support and automatic MIME type detection.

